<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head.html :: head('Party Role Types')}"></head>
<body>

<!-- Navigation -->
<nav th:replace="~{fragments/head.html :: navigation}"></nav>
<!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="text-center">Party Role Types</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Basic -->
<div class="ex-form-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="text-box mt-5 mb-5">
                    <form method="post"
                          th:action="@{/admin/party-role-types/add}"
                          th:object="${jpaPartyRoleType}">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{version}"/>
                        <div class="mb-4 form-floating">
                            <input type="text" th:field="*{name}" class="form-control" id="floatingInput" placeholder="name">
                            <label for="floatingInput">Name</label>
                            <p th:errors = "*{name}" class="text-danger"
                               th:if="${#fields.hasErrors('name')}"></p>
                        </div>
                        <div class="mb-4 form-floating">
                            <input type="text" th:field="*{description}" class="form-control" id="floatingInput2" placeholder="Description">
                            <label for="floatingInput2">Description</label>
                            <p th:errors = "*{description}" class="text-danger"
                               th:if="${#fields.hasErrors('description')}"></p>
                        </div>
                        <button type="submit" class="form-control-submit-button">Save</button>
                    </form>
                </div> <!-- end of text-box -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->


<!-- Footer -->
<div th:replace="~{fragments/head.html :: footer}" class="footer"></div> <!-- end of footer -->
<!-- end of footer -->
</body>
</html>