<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{fragments/head.html :: head('Sign Up')}"></head>
    <body>
        
        <!-- Navigation -->
        <nav th:replace="~{fragments/head.html :: navigation}"></nav>
        <!-- end of navigation -->


        <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Sign Up</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->
        
        
        <!-- Basic -->
        <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="text-box mt-5 mb-5">
                            <p class="mb-4">Fill out the form below to sign up for the service. Already signed up? Then just <a class="blue" href="log-in.html" th:href="@{/login}">Log In</a></p>
                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    You have successfully registered our app!
                                </div>
                            </div>
                            <!-- Sign Up Form -->
                            <form method="post"
                                  th:action="@{/register/save}"
                                  th:object="${user}">
                                <div class="mb-4 form-floating">
                                    <input type="email" th:field="*{email}" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                    <p th:errors = "*{email}" class="text-danger"
                                       th:if="${#fields.hasErrors('email')}"></p>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="text" th:field="*{firstName}" class="form-control" id="floatingInput2" placeholder="First name">
                                    <label for="floatingInput">First name</label>
                                    <p th:errors = "*{firstName}" class="text-danger"
                                       th:if="${#fields.hasErrors('firstName')}"></p>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="text" th:field="*{lastName}" class="form-control" id="floatingInput3" placeholder="Last name">
                                    <label for="floatingInput">Last name</label>
                                    <p th:errors = "*{lastName}" class="text-danger"
                                       th:if="${#fields.hasErrors('lastName')}"></p>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                    <p th:errors = "*{password}" class="text-danger"
                                       th:if="${#fields.hasErrors('password')}"></p>
                                </div>
                                <div class="mb-4 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I agree with the site's stated <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a></label>
                                </div>
                                <button type="submit" class="form-control-submit-button">Sign up</button>
                            </form>
                            <!-- end of sign up form -->

                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->


        <!-- Footer -->
        <div th:replace="~{fragments/head.html :: footer}" class="footer"></div> <!-- end of footer -->
        <!-- end of footer -->
    </body>
</html>